<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
<br />
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/james-pridge">James Partridge</a>. An individual who fullfilled his first duty serving his country and who is now working to make something of himself. 
  </p>
  <br />
  <p>
    For years he has made it his mission to serve, help those in need and put the priorities of others over his own. Infused with a passion and unwilling to accept failure as an option he has now boldly thrown himself into the world of coding, ready to finally achieve something for himself. 
  </p>
  <p>
    If you want to learn how to code like I have there's no better time - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jp.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">James Partridge</h2>
      <br />
      <p>
        James Partridge is an aspiring full stack web developer who hopes
        to one day land a career in application/software development. He 
        served in the United States Air Force as a B-1 Bomber Crew Chief 
        between 2009 and 2013. He has worked in sales, security and pharmaceutical 
        manufacturing where he worked as a technician making generic drugs.     
      </p>
    </div>
  </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />


