@font-face {
    font-family: 'corbertitalic';
    src: font_url('corbert-italic-webfont.woff2') format('woff2'),
         font_url('corbert-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'questaregular';
    src: font_url('2-questa_regular-webfont.woff2') format('woff2'),
         font_url('2-questa_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acherus_grotesqueregular';
    src: font_url('acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
         font_url('acherus_grotesque_-_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'acherus_grotesqueRgIt';
    src: font_url('acherus_grotesque_-_regular_italic-webfont.woff2') format('woff2'),
         font_url('acherus_grotesque_-_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    }

    @font-face {
    font-family: 'nobileregular';
    src: font_url('nobile-bold-webfont.woff2') format('woff2'),
         font_url('nobile-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nobilebold_italic';
    src: font_url('nobile-bolditalic-webfont.woff2') format('woff2'),
         font_url('nobile-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nobileitalic';
    src: font_url('nobile-italic-webfont.woff2') format('woff2'),
         font_url('nobile-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nobilemedium';
    src: font_url('nobile-medium-webfont.woff2') format('woff2'),
         font_url('nobile-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nobilemedium_italic';
    src: font_url('nobile-mediumitalic-webfont.woff2') format('woff2'),
         font_url('nobile-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nobileregular';
    src: font_url('nobile-regular-webfont.woff2') format('woff2'),
         font_url('nobile-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}